@use "global" as *;

.c-section-header {
  color: $blue;
  text-align: center;
}

.c-section-header__entitle {
  font-size: rem(30);
  font-weight: $bold;
  line-height: calc(37/30);
  letter-spacing: 0.05em;
  font-family: $english-family;
  text-transform: uppercase;
}

.c-section-header__jatitle {
  font-size: rem(13);
  font-weight: $bold;
  line-height: 1;
  letter-spacing: 0.05em;
  font-family: $base-font-family;
  @include mq(md) {
   font-size: rem(14);
  }
}

