@use "global" as *;

.p-mv {
  position: relative;
  height: 100vh;
  background-image: url(../images/common/mv-sp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.p-mv__inner {
  // padding: 0 rem(20);
}

.p-mv__header {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: rem(20);
  color: $white;
}

.p-mv__title {
  font-size: rem(40);
  font-weight: $bold;
  font-family: $english-family;
  line-height: calc(44/40);
  letter-spacing: 0.05em;
  color: $white;
}

.p-mv__subtitle {
  font-size: rem(16);
  line-height: calc(29/16);
  letter-spacing: 0.1em;
  margin-top: rem(20);
}

.p-mv__btn {
  margin-top: rem(30);
}

.p-mv__scroll {
  font-size: rem(12);
  color: $white;
  letter-spacing: 0.2em;
  font-family: $english-family;
  font-weight: $bold;
  display: inline-block;
  text-transform: uppercase;
  position: absolute;
  bottom: rem(80);
  right: rem(0);
  transform: rotate(90deg);
}

.p-mv__scroll span {
  position: relative;
}

.p-mv__scroll span::after {
  content: "";
  position: absolute;
  width: rem(1);
  height: rem(50);
  background-color: $white;
  transform: rotate(90deg);
  bottom: rem(-17.6);
  right: rem(-35);
}